/*内容栏；新的朋友、公众号、群组、好友，明细信息(发送消息按钮)*/
#content{
    -fx-border-width: 0;
    -fx-background-color: #c9d5e7;
}

#content_pane{
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #c9d5e7;
}

#content_name{
    -fx-font-family: "微软雅黑";
    -fx-text-fill: #0e1a34;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-cursor: hand;
}

#motto{
    -fx-background-color: #dbe2ea;
    -fx-background-radius: 4px;
}

.friendUserDetailContent,.friendGroupDetailContent{
   -fx-background-color: transparent;
}

.friendUserSendMsgButton,.friendUserSendMsgButton:pressed,.friendGroupSendMsgButton,.friendGroupSendMsgButton:pressed{
    -fx-background-size: 175px 50px;
    -fx-background-color: #393a87;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-color: #393a87;
    -fx-font-family: "微软雅黑";
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-alignment: center;
}

.friendUserSendMsgButton:hover,.friendGroupSendMsgButton:hover{
    -fx-text-fill: #ffffff;
    -fx-border-color: #393a87;
    -fx-background-color: #393a87;
}
