/* 控制栏 */
#bar{
    -fx-background-color: #12264e;
    -fx-background-radius: 4px 0px 0px 4px;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

#bar_headImg{
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px 50px;
    -fx-background-color: white;
    -fx-background-image: url("/fxml/chat/img/head/01_50.png");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}

#bar_chat{
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px 30px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/img/gui/chat_2.png");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}

#bar_friend{
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px 30px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/img/gui/friend_0.png");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}
/* 测试事件注释，使用java代码控制；setOnAction、setOnMouseEntered、setOnMouseExited
#bar_friend:hover{
    -fx-background-image: url("/fxml/chat/img/system/friend_1.png");
}

#bar_friend:pressed{
    -fx-background-image: url("/fxml/chat/img/system/friend_2.png");
}*/

#bar_addFriend{
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px 30px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/img/gui/location_0.png");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}

#bar_addFriend:hover{
    -fx-background-image: url("/fxml/img/gui/location_1.png");
}

#bar_addFriend:pressed{
    -fx-background-image: url("/fxml/img/gui/location_2.png");
}

#bar_logout{
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px 20px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/img/gui/set_0.png");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}

#bar_logout:hover{
    -fx-background-image: url("/fxml/img/gui/set_1.png");
}

#bar_logout:pressed{
    -fx-background-image: url("/fxml/img/gui/set_2.png");
}
