/* 控制栏 */
#bar{
    -fx-background-color: #0e1a34;
    -fx-background-radius: 4px 0px 0px 4px;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

#bar_headImg{
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px 50px;
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}

#bar_chat{
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px 30px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/img/gui/chat_0.png");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}

#bar_chat:hover{
    -fx-background-image: url("/fxml/img/gui/chat_1.png");
}

#bar_chat:pressed{
    -fx-background-image: url("/fxml/img/gui/chat_2.png");
}


#bar_friend{
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px 30px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/img/gui/friend_0.png");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}

#bar_friend:hover{
    -fx-background-image: url("/fxml/img/gui/friend_1.png");
}

#bar_friend:pressed {
    -fx-background-image: url("/fxml/img/gui/friend_2.png");
}

#bar_addFriend{
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px 30px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/img/gui/addfriend_0.png");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}

#bar_addFriend:hover{
    -fx-background-image: url("/fxml/img/gui/addfriend_1.png");
}

#bar_addFriend:pressed{
    -fx-background-image: url("/fxml/img/gui/addfriend_2.png");
}

#bar_logout{
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px 20px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/img/gui/power_1.png");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}

#bar_logout:hover{
    -fx-background-image: url("/fxml/img/gui/power_0.png");
}

#bar_logout:pressed{
    -fx-background-image: url("/fxml/img/gui/power_0.png");
}

#face{
    -fx-background-color: #dbe2ea;
}
