#tool{
    -fx-border-width: 0;
    -fx-border-color: #ececec;
    -fx-background-color: #12264e;
}

#tool_face{
    -fx-background-size: 40px 40px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/img/gui/face_0.png");
    -fx-cursor: hand;
    -fx-border-width: 0;
}

#tool_face:hover{
    -fx-background-image: url("/fxml/img/gui/face_1.png");
}

#tool_face:pressed{
    -fx-background-image: url("/fxml/img/gui/face_2.png");
}

#tool_send_img{
    -fx-background-size: 40px 40px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/img/gui/img_0.png");
    -fx-cursor: hand;
    -fx-border-width: 0;
}

#tool_send_img:hover{
    -fx-background-image: url("/fxml/img/gui/img_1.png");
}

#tool_send_img:pressed{
    -fx-background-image: url("/fxml/img/gui/img_2.png");
}

#tool_call{
    -fx-background-size: 40px 40px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/img/gui/call_0.png");
    -fx-cursor: hand;
    -fx-border-width: 0;
}

#tool_call:hover{
    -fx-background-image: url("/fxml/img/gui/call_1.png");
}

#tool_call:pressed{
    -fx-background-image: url("/fxml/img/gui/call_2.png");
}
