<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mapper">
    <select id="getUserByUserName" parameterType="String" resultType="sample.Entity.User">
        SELECT * FROM User where binary UserName=#{userName}
    </select>

    <select id="getUserByUserName_Password" parameterType="java.util.List" resultType="sample.Entity.User">
        SELECT * FROM User where binary UserName=#{userName} and Password=#{password}
    </select>

    <select id="getAllFriends" parameterType="String" resultType="sample.Entity.User">
        select User.* from Friend,User where binary Friend.UserName = #{userName} and User.UserName = Friend.FriendName
    </select>

    <select id="getHeadByUserName" parameterType="String" resultType="String">
        select headImg from User where binary UserName = #{userName}
    </select>

    <select id="getAllChat" parameterType="String" resultType="String">
        select receiverName from Msg where binary senderName = #{userName}
        union
        select senderName from Msg where binary receiverName = #{userName}
    </select>

    <select id="getMsg" parameterType="java.util.List" resultType="sample.Entity.Msg">
        select * from Msg where binary senderName = #{name1} and receiverName = #{name2}
                        or senderName = #{name2} and receiverName = #{name1}
    </select>

    <select id="getUnreadMsgNum" parameterType="java.util.List" resultType="int">
        select count(*) from Msg where binary senderName = #{name1} and
                               receiverName = #{name2} and
                               isRead = false
    </select>

    <update id="changeInfo" parameterType="java.util.List">
        update User set Password = #{password}, Sex = #{sex}, motto = #{motto}, birthday = #{birthday}, headImg = #{headImg}
            where binary UserName = #{userName}
    </update>

    <update id="setMsgIsRead" parameterType="java.util.List">
        update Msg set isRead = true
            where binary senderName = #{name1} and
                receiverName = #{name2} and
                    isRead = false
    </update>

    <insert id="registerUser" parameterType="sample.Entity.User">
        insert into User(userid, username, password, sex, motto, birthday, online, headimg)
            VALUES (#{userId},#{userName},#{password},#{sex},#{motto},#{birthday},#{online},#{headImg})
    </insert>

    <insert id="sendMsg" parameterType="sample.Entity.Msg">
        insert into Msg(senderName, receiverName, msg, img, time, msgType,isRead)
            VALUES (#{senderName},#{receiverName},#{msg},#{img},#{time},#{msgType},#{isRead})
    </insert>

    <insert id="test" parameterType="java.util.Base64">
        insert into test(img) values (#{img})
    </insert>

    <select id="test1" resultType="String">
        select * from test
    </select>
</mapper>


