.search{
    -fx-background-color: #dbe2ea;
}

.searchInput{
    -fx-border-width: 0;
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-font-family: "微软雅黑";
    -fx-text-fill: #12264e;
    -fx-font-size: 15px;
    -fx-background-image: url("/fxml/img/gui/search_0.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0px center;
}

.searchInput:focused{
    -fx-border-width: 2;
    -fx-border-color: #dbd9d8;
    -fx-border-radius:0px;
    -fx-background-color: #f6f6f5;
}

.searchAdd{
    -fx-background-color: #dbd9d8;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border-color: #dbd9d8;
    -fx-cursor: hand;
    -fx-background-image: url("/fxml/img/gui/add_0.png");
}

.searchAdd:hover{
    -fx-background-color: #d1d1d1;
    -fx-border-color: #d1d1d1;
}



#operation{
    -fx-background-color: #0e1a34;
}

.close,.close:pressed{
    -fx-background-radius: 0px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 43px 34px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/Img/gui/close_0.png");
    -fx-cursor: hand;
    -fx-border-width: 0;
}

.close:hover{
    -fx-background-color: #f45454;
    -fx-background-image: url("/fxml/img/gui/close_1.png");
}

.min,.min:pressed{
    -fx-background-radius: 0px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 43px 34px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml/img/gui/min_0.png");
    -fx-cursor: hand;
    -fx-border-width: 0;
}

.min:hover{
    -fx-background-color: derive(#c7c6c6, 10%);
    -fx-background-image: url("/fxml/img/gui/min_1.png");
}

.button_lit{

}

#content{
    -fx-background-color: #dbe2ea;
    -fx-background-radius: 4px;
}

#motto{
    -fx-text-fill: #767b83;
}

#userName{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #12264e;
}
